.dv1 img{
    width: 200px;
    height: 50px;
}
nav{
    height: 71px;
}
.ul1{
    margin-top: 20px;
    width: 800px;
}
.banner{
    margin-top:80px;
}
body{
    background: #c0bebe;
}
.li1 {
    margin-top: 3px;
}